<h1>Editing Department</h1>
<br/>
<%= render 'form', department: @department %>
<br/>
<%= link_to 'Show', @department, class:'btn btn-danger'%> 
<br/>
<br/>

<%= link_to 'Back', departments_path, class:'btn btn-info' %>