<div class="text-center jumbotron mt-5">
  <div class="container">
    <h1 class="display-2 font-weight-light">Quiz App</h1>
    
    <p class="mt-4"><%= link_to 'User Sign Up', signup_path, class: "btn btn-warning btn-lg" %></p>
    <p> Or have an account, <%= link_to 'User Log In', login_path %></p>

    <p class="mt-4"><%= link_to 'College Sign Up ',  new_college_registration_path, class: "btn btn-danger btn-lg" %></p>
     <p>Or have an account,<%= link_to 'College Log In', new_college_session_path %></p>
  </div>
</div>

