<p id="notice"><%= notice %></p>

<p>
  <strong>Course name:</strong>
  <%= @course.course_name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @course.department_id %>
</p>

<td><%= link_to 'Add Quiz', new_quiz_path %></td>
<br/>
<h2>Add a Quiz:</h2>
<br/>
